body {
    font-family: "Poltawski Nowy", serif;
    background-color: rgb(233,150,122);
    margin: 0;
    padding: 0;
    color: #000;
}    

.logotipo {
    height: 50px;
    width: 50px;
}

.navbar {
    background-color: #343A40;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.navbar li {
    float: left;
    padding: 4px 8px;
}

.navbar a {
    text-align: center;
    text-decoration: none;
    color: #5D6D79;
    font-size: 18px;
}

.navbar a:hover {
    color: #555;
}

.navbar .active-tab {
    color: #fff;
}

menu {
    padding: 0;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
}

.div-principal {
    width: 100%;
    height: auto;
    margin: auto;
    padding: auto;
    position: absolute;
    top: 30%
}

.logo-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.titulos {
    font-weight: 700;
}

/*Start of large tablet styles*/
@media screen and (max-width: 991px) {
    .div-principal h1 {
        font-size: 32px;
    }

    .div-principal h3 {
        font-size: 24px;
    }
}

/*Start of medium tablet styles*/
@media screen and (max-width: 767px) {
    .div-principal h1 {
        font-size: 30px;
    }

    .div-principal h3 {
        font-size: 24px;
    }

    .logotipo {
        height: 47.5px;
        width: 47.5px;
    }
}

/*Start of phone styles*/
@media screen and (max-width: 479px) {

    .div-principal h1 {
        font-size: 24px;
    }

    .div-principal h3 {
        font-size: 18px;
    }
    .logotipo {
        height: 45px;
        width: 45px;
    }
}

/*Start of smaller phone styles*/
@media screen and (max-width: 320px) {
    .div-principal h1 {
        font-size: 20px;
    }
    
    .div-principal h3 {
        font-size: 16px;
    }

    .logotipo {
        height: 42.5px;
        width: 42.5px;
    }
}

.subtitulo {
    text-align: center;
    margin-top: 20px;
    line-height: 40px;
}

header {
    height: 60px;
}

main {
    overflow-y: auto;
    min-height: calc(100vh - 100px);
}

footer {
    margin-top: auto;
    background-color: #000000;
    color: #ffffff;
    height: 25px;
    width: 100%;
}

footer > p {
    margin: 0;
    text-align: center;
    
}